
.login{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background: rgb(217, 230, 235);
}
.fbContainer{
    margin: 60px;
}

.logo{
    width: 300px;
}
.h1{
    font-size: 1.7rem;
    width: 550px;
    line-height: 35px;
    padding-left: 30px;
}

/* formContainar */
.formContainer{
    width: 400px;
    text-align: center;
    margin-right: 80px;
}
.formBody{
    background: #ffff;
    padding: 15px;
    text-align: center;
    box-shadow: gray 2px 2px 8px ;
    border-radius: 10px;
}
.formBody>input{
    border-radius: 10px;
    height: 40px;
    padding: 10px;
    background: rgb(33, 199, 0);
    margin-top: 20px;
    color: #ffff;
    font-weight: bold;
    cursor: pointer;
}
.form{
    display: flex;
    flex-direction: column;
    
}
.form>input{
    height: 50px;
    border: rgb(235, 227, 227) 2px solid;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}
.form input:nth-child(3){
    background: rgb(87, 87, 236);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}
.form a{
    text-align: center;
    color: blue;
}
.createPage{
    display: block;
    margin-top: 20px;
}
.createPage a{
    font-weight: bold;
}

@media screen and (max-width : 1200px) {
    .h1{
        font-size: 1.5rem;
        width: 400px;
        
    }
}
@media screen and (max-width : 960px) {
    .h1{
        padding: 10px;
    }
    .login{
        flex-direction: column;
        flex-wrap: wrap;
    }
    .fbContainer{
        margin: 20px;
    }
    .formContainer{
        margin: 10px;
    }
}
@media screen and (max-width : 600px) {
    .h1{
        text-align: center;
        width: 90%;
    }
    .fbContainer{
       width: 90%;
    }
    .formContainer{
        width: 90%;
    }
}